.div-one {

    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.div {
    margin: 0;
}
.home {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
img {
    margin-bottom: 50px;
}
    
